/* Brand Colours */

/*

#d9d9d9
#a6a6a6
#595959
#262626
#0d0d0d

*/

/* Style Framework Overrides */

h3 {
  font-size: 3rem;
}

a {
  color: #595959;
}
a:hover, a:focus {
  color: #a6a6a6;
}

button.button-primary,
.button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  border-color: #595959;
  background-color: #595959;
}
button.button-primary:hover,
.button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
button.button-primary:focus,
.button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    border-color: #a6a6a6;
  background-color: #a6a6a6;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #d9d9d9;
}

/* General */

body {
  color: #0d0d0d;
  max-width: 1184px;
  margin: 0 auto;
  padding: 2rem 5rem 5rem 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  color: #595959;
  margin: 3rem 0 5rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

#navbar-wrapper {
  margin: 2rem 0;
}

#navbar {
  text-align: right;
}

#navbar a {
  color: #262626;
  text-decoration: none;
  margin: 0 0 0 2rem;
}

#navbar a.active {
  font-weight: bolder;
}

#navbar-dropdown-wrapper, 
#search-dropdown-wrapper {
    position: relative;
}
#navbar-dropdown, 
#search-dropdown {
  position: absolute;
  right: 0;
  color: #ffffff;
  background-color: #0d0d0d /* #595959 */;
  padding: 1rem 2rem;
  display: none;
}
#navbar-dropdown input[type="text"], 
#search-dropdown input[type="text"] {
  color: #595959;
}
#navbar-dropdown.open, 
#search-dropdown.open {
  display: block;
}
ul#navbar-dropdown, 
ul#navbar-dropdown li {
  list-style: none;
  list-style-type: none;
}
#navbar-dropdown a, 
#navbar-dropdown a:hover {
  color: #fff;
  text-decoration: none;
}

#search-results-item-header {
  font-size: larger;
}

.banner-image, .product-image, .full-width-image {
  width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#intro-text {
  color: #595959;
}

.general-margin {
  margin: 2rem 0;
}

.general-large-margin {
  margin: 5rem 0;
}

small {
  color: #595959;
}

h5.product-list-header {
  margin: 1rem 0;
}
.product-list-item * {
  text-align: center;
}
h6.product-list-item-title {
  margin: 1rem 0;
}
h6.product-list-item-price {
  font-weight: normal;
  margin: 1rem 0;
}
.product-list-item-note {
  text-align: right;
}
.product-list-item-cta .button {
  width: 100%;
  margin: 0 0 3rem 0;
}

#product-view h2 {
  margin: 3rem 0 1rem 0;
}
#product-view h5 {
  margin: 3rem 0 3rem 0;
}
#product-view h6 {
  margin: 1rem 0;
}
.product-view-cta {
  text-align: center;
}
p.courier-fee {
  margin: 2.5rem 0 0 0;
}
#delivery-selection label {
  margin: -0.5rem 0 0 0;
  padding: 0 2.5rem 0 1rem;
}

#terms-and-conditions h5 {
  margin: 5rem 0 2rem 0;  
}

#custom-t-shirts-banner h3,
#custom-t-shirts-banner h5 {
  color: #37b2eb;
  margin: 2rem 0;
}
#custom-t-shirts-banner h3 {
  margin-top: 5rem;
}

footer {
  color: #595959;
  margin: 8rem 0 5rem 0;
}

#footer-social-links {
  text-align: center;
}

#footer-links h5 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

#footer-social-links a {
  font-size: 3rem;
}

.no-line-break {
  white-space: nowrap;
}

/* Fonts */

body, .mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5000; /* 200 to 1000 */
  font-style: normal;
}

.urbanist-font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* 100 to 900 */
  font-style: normal;
}

.rock-salt-font {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Media queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
